-- MySQL dump 10.13  Distrib 9.3.0, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: ut_wms_db
-- ------------------------------------------------------
-- Server version	9.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `__efmigrationshistory`
--

DROP TABLE IF EXISTS `__efmigrationshistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `__efmigrationshistory` (
  `MigrationId` varchar(150) NOT NULL,
  `ProductVersion` varchar(32) NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `__efmigrationshistory`
--

LOCK TABLES `__efmigrationshistory` WRITE;
/*!40000 ALTER TABLE `__efmigrationshistory` DISABLE KEYS */;
INSERT INTO `__efmigrationshistory` VALUES ('20260522095935_SyncWithSqlDump','9.0.0'),('20260527063537_AddProductDescriptionAndVariants','9.0.0'),('20260604021546_AddTransactionsTable','9.0.0'),('20260605013419_AddHandoverFields','9.0.0'),('20260608062936_UpdateDatabase','9.0.0'),('20260608081019_AddAdminRoles','9.0.0'),('20260609013724_AddCategoryIdToUserAdminRole','9.0.0'),('20260609063238_FixTransactionStatusColumn','9.0.0'),('20260609090000_AddGiveawayWorkflowFields','9.0.0'),('20260610030048_RemoveUsersRoleCheckConstraint','9.0.0');
/*!40000 ALTER TABLE `__efmigrationshistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_roles`
--

DROP TABLE IF EXISTS `admin_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_roles` (
  `Id` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `RoleName` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Permissions` text,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `CreatedBy` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `UpdatedAt` datetime(6) NOT NULL,
  `UpdatedBy` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_roles`
--

LOCK TABLES `admin_roles` WRITE;
/*!40000 ALTER TABLE `admin_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'Makanan',NULL,'2026-05-11 12:17:24','2026-05-11 12:17:24'),(3,'Game',NULL,'2026-05-11 13:40:10','2026-05-11 13:40:10'),(4,'Facility',NULL,'2026-05-11 13:40:10','2026-05-11 13:40:10'),(5,'ATK',NULL,'2026-05-11 13:40:10','2026-05-11 13:40:10'),(6,'Merchandise',NULL,'2026-05-11 13:40:10','2026-05-11 13:40:10'),(8,'Alat Musik',NULL,'2026-05-11 13:40:11','2026-06-10 02:48:54'),(9,'Elektronik',NULL,'2026-05-11 13:40:11','2026-05-11 13:40:11');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `divisions`
--

DROP TABLE IF EXISTS `divisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `divisions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `divisions`
--

LOCK TABLES `divisions` WRITE;
/*!40000 ALTER TABLE `divisions` DISABLE KEYS */;
/*!40000 ALTER TABLE `divisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_variants`
--

DROP TABLE IF EXISTS `product_variants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_variants` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` bigint NOT NULL,
  `sku` varchar(255) DEFAULT NULL,
  `color` varchar(255) DEFAULT NULL,
  `size` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `stock` int NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UQ_product_variants_sku` (`sku`),
  KEY `IX_product_variants_product_id` (`product_id`),
  CONSTRAINT `FK_product_variants_product_id` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_variants`
--

LOCK TABLES `product_variants` WRITE;
/*!40000 ALTER TABLE `product_variants` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_variants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `sku` varchar(255) NOT NULL,
  `barcode_type` varchar(255) NOT NULL DEFAULT 'TYPE_CODE_128',
  `name` varchar(255) NOT NULL,
  `description` text,
  `transaction_type` varchar(7) DEFAULT NULL,
  `value` decimal(10,2) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `images` text,
  `category_id` bigint DEFAULT NULL,
  `location_id` bigint DEFAULT NULL,
  `position_image` varchar(255) DEFAULT NULL,
  `current_stock` int NOT NULL DEFAULT '0',
  `initial_stock` int NOT NULL DEFAULT '0',
  `unit_id` bigint DEFAULT NULL,
  `is_returnable` tinyint(1) NOT NULL DEFAULT '1',
  `min_stock` int NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UQ_products_sku` (`sku`),
  KEY `IX_products_category_id` (`category_id`),
  KEY `IX_products_location_id` (`location_id`),
  KEY `IX_products_unit_id` (`unit_id`),
  CONSTRAINT `FK_products_category_id` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`),
  CONSTRAINT `FK_products_location_id` FOREIGN KEY (`location_id`) REFERENCES `locations` (`id`),
  CONSTRAINT `FK_products_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`),
  CONSTRAINT `CK_products_transaction_type` CHECK ((`transaction_type` in (_utf8mb4'BORROW',_utf8mb4'REQUEST')))
) ENGINE=InnoDB AUTO_INCREMENT=432 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile_requests`
--

DROP TABLE IF EXISTS `profile_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profile_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `name` varchar(255) NOT NULL,
  `nrp` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `division_id` bigint DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'PENDING',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IX_profile_requests_user_id` (`user_id`),
  KEY `IX_profile_requests_division_id` (`division_id`),
  CONSTRAINT `FK_profile_requests_division_id` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`),
  CONSTRAINT `FK_profile_requests_user_id` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile_requests`
--

LOCK TABLES `profile_requests` WRITE;
/*!40000 ALTER TABLE `profile_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `profile_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_logs`
--

DROP TABLE IF EXISTS `stock_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `transaction_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `stock_before` int NOT NULL,
  `stock_after` int NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IX_stock_logs_transaction_id` (`transaction_id`),
  KEY `IX_stock_logs_product_id` (`product_id`),
  CONSTRAINT `FK_stock_logs_product_id` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `FK_stock_logs_transaction_id` FOREIGN KEY (`transaction_id`) REFERENCES `transactions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_logs`
--

LOCK TABLES `stock_logs` WRITE;
/*!40000 ALTER TABLE `stock_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` bigint NOT NULL,
  `product_variant_id` bigint DEFAULT NULL,
  `type` varchar(3) NOT NULL,
  `request_type` varchar(8) NOT NULL DEFAULT 'BORROW',
  `quantity` int NOT NULL,
  `returned_quantity` int NOT NULL DEFAULT '0',
  `pending_return_quantity` int NOT NULL DEFAULT '0',
  `returned_at` datetime DEFAULT NULL,
  `return_photo` varchar(255) DEFAULT NULL,
  `handover_photo` text,
  `handover_notes` text,
  `handover_recipient_name` varchar(255) DEFAULT NULL,
  `handover_timestamp` datetime DEFAULT NULL,
  `documentation_photo` text,
  `documentation_notes` text,
  `documentation_uploaded_at` datetime DEFAULT NULL,
  `return_status` varchar(255) DEFAULT NULL,
  `return_reason` text,
  `is_return_draft` tinyint(1) NOT NULL DEFAULT '0',
  `return_condition` varchar(6) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'PENDING',
  `rejection_reason` text,
  `admin_notes` text,
  `manager_notes` text,
  `staff_inventory_notes` varchar(500) DEFAULT NULL,
  `last_revision_stage` varchar(50) DEFAULT NULL,
  `return_rejection_reason` text,
  `requester_id` bigint NOT NULL,
  `approver_id` bigint DEFAULT NULL,
  `notes` text,
  `used_by` varchar(255) DEFAULT NULL,
  `division_id` bigint DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `applicant_name` varchar(255) DEFAULT NULL,
  `applicant_nrp` varchar(255) DEFAULT NULL,
  `borrow_duration_days` int DEFAULT NULL,
  `borrow_start_date` date DEFAULT NULL,
  `pickup_date` date DEFAULT NULL,
  `expected_return_date` date DEFAULT NULL,
  `event_name` varchar(255) DEFAULT NULL,
  `event_date` date DEFAULT NULL,
  `documentation_link` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IX_transactions_product_id` (`product_id`),
  KEY `IX_transactions_requester_id` (`requester_id`),
  KEY `IX_transactions_approver_id` (`approver_id`),
  KEY `IX_transactions_division_id` (`division_id`),
  KEY `IX_transactions_product_variant_id` (`product_variant_id`),
  CONSTRAINT `FK_transactions_approver_id` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FK_transactions_division_id` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`),
  CONSTRAINT `FK_transactions_product_id` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `FK_transactions_product_variant_id` FOREIGN KEY (`product_variant_id`) REFERENCES `product_variants` (`id`),
  CONSTRAINT `FK_transactions_requester_id` FOREIGN KEY (`requester_id`) REFERENCES `users` (`id`),
  CONSTRAINT `CK_transactions_request_type` CHECK ((`request_type` in (_utf8mb4'BORROW',_utf8mb4'GIVEAWAY'))),
  CONSTRAINT `CK_transactions_return_condition` CHECK ((`return_condition` in (_utf8mb4'BAIK',_utf8mb4'RUSAK',_utf8mb4'HILANG'))),
  CONSTRAINT `CK_transactions_status` CHECK ((`status` in (_utf8mb4'PENDING',_utf8mb4'PENDING_STAFF_INVENTORY',_utf8mb4'PENDING_ADMIN',_utf8mb4'PENDING_MANAGER',_utf8mb4'WAITING_HANDOVER',_utf8mb4'WAITING_ADMIN_HANDOVER',_utf8mb4'WAITING_DOCUMENTATION',_utf8mb4'DOCUMENTATION_OVERDUE',_utf8mb4'APPROVED',_utf8mb4'COMPLETED',_utf8mb4'REJECTED',_utf8mb4'REVISION',_utf8mb4'REVISION_BY_STAFF_INVENTORY',_utf8mb4'REVISION_BY_ADMIN',_utf8mb4'REVISION_BY_MANAGER'))),
  CONSTRAINT `CK_transactions_type` CHECK ((`type` in (_utf8mb4'IN',_utf8mb4'OUT')))
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UQ_units_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_admin_roles`
--

DROP TABLE IF EXISTS `user_admin_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_admin_roles` (
  `Id` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `UserId` bigint NOT NULL,
  `AdminRoleId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `CreatedBy` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `CategoryId` bigint DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_user_admin_roles_AdminRoleId` (`AdminRoleId`),
  KEY `IX_user_admin_roles_UserId` (`UserId`),
  KEY `IX_user_admin_roles_CategoryId` (`CategoryId`),
  CONSTRAINT `FK_user_admin_roles_admin_roles_AdminRoleId` FOREIGN KEY (`AdminRoleId`) REFERENCES `admin_roles` (`Id`) ON DELETE RESTRICT,
  CONSTRAINT `FK_user_admin_roles_categories_CategoryId` FOREIGN KEY (`CategoryId`) REFERENCES `categories` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `FK_user_admin_roles_users_UserId` FOREIGN KEY (`UserId`) REFERENCES `users` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_admin_roles`
--

LOCK TABLES `user_admin_roles` WRITE;
/*!40000 ALTER TABLE `user_admin_roles` DISABLE KEYS */;
INSERT INTO `user_admin_roles` VALUES ('36a2d501-7687-400c-a8e5-911a180e1bb6',5,'063e920c-626c-4fa8-a8b9-35900bb7b7b7','2026-06-10 01:10:41.028001','Super Administrator',NULL),('6134fa61-54c8-4d16-8964-0b6ed05badbd',4,'0aa48329-85e7-480d-9e62-21cd0dec8e86','2026-06-10 02:42:39.861960','Super Administrator',NULL),('976f60fb-4160-41fb-8cc6-399d20e352dd',1,'ec5f41d3-cec6-4d33-a220-81a18c9e1cfd','2026-06-10 01:13:52.888094','Super Administrator',NULL),('ef3351b4-1c3a-4312-a707-f84f4cc17ef9',3,'e6ad3624-7c19-48cb-a746-b0f58f13ad31','2026-06-10 02:46:46.316230','Super Administrator',NULL);
/*!40000 ALTER TABLE `user_admin_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `nrp` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `poin` int NOT NULL DEFAULT '0',
  `email_verified_at` datetime DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(10) DEFAULT 'staff',
  `division_id` bigint DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UQ_users_email` (`email`),
  UNIQUE KEY `UQ_users_nrp` (`nrp`),
  KEY `IX_users_division_id` (`division_id`),
  CONSTRAINT `FK_users_division_id` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-10 10:47:00
